<div>
  <div>
    <p>
      Total Capital: <span>{{ paperTrade["capital"] }}</span>
    </p>
    <p>
      Remaining Amount For today:
      <span>{{ paperTrade["remaining_amount"] }}</span>
    </p>
  </div>
  <ul>
    <li class="grid grid-cols-8">
      <span>Script</span>
      <span>Qunatity</span>
      <span>Buy Brice</span>
      <span>LTP</span>
      <span>Invetment</span>
      <span>Last Buy </span>
      <span>Last Traded Day</span>
      <span>% Change</span>
    </li>
    @for(row of this.paperTrade['rows']; track row.symbol){
    <li class="grid grid-cols-8 mt-2">
      <span>{{ row["symbol"] }}</span>
      <span>{{ row["number_allowed"] }}</span>
      <span>{{ row["price"] }}</span>
      <span>{{ row["current_price"] }}</span>
      <span>{{ row["invetment"] | number }}</span>
      <span>{{ row["last_buy"] }} </span>
      <span>{{ row["last_trade_day"] | date }}</span>
      <span>{{
        ((row["price"] - row["current_price"]) / row["price"]) * 100 | number
      }}</span>
    </li>
    }
  </ul>
</div>
