<div
  class="w-11/12 mx-auto mt-10 alg-tabs border p-10 rounded-lg border-gray-300"
>
  <h2 class="text-3xl! font-bold! text-gray-700">Tool Config</h2>
  <mat-tab-group preserveContent animationDuration="1000ms">
    <mat-tab label="Script Config" class="text-2xl">
      <app-script-config></app-script-config>
    </mat-tab>
    <mat-tab label="Generate Option">
      <app-option-config></app-option-config>
    </mat-tab>
    <mat-tab label="Expired Option"> Lis </mat-tab>
  </mat-tab-group>
</div>
